* {
    box-sizing: border-box;
  }

@media only screen and (orientation: portrait) {

}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    flex: 0 1 auto;
}

.menu {
    background-color: #272727;
    flex: 0 1 auto;
    color: #F3EFF5;
    text-align: center;
    position: relative;
}

.menu h1 {
    padding: 16px;
    margin: 0;
    background-color: #272727;
}

.menu h2 {
    padding: 10px 16px 10px 16px;
    margin: 0;
    font-size: 1.25em;
}

.inactive {
    display: none;
}
.active {
    display: block;
}

.slidercontainer {
    padding: 16px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: space-between;
    justify-content: center;
}

.slidercontainer label {
    margin-left: 5px;
}

.slider {
    -webkit-appearance: none;
    /*width: 100%;*/
    height: 10px;
    border-radius: 5px;   
    background: #F3EFF5;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #72B01D;
    cursor: pointer;
}

  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #72B01D;
    cursor: pointer;
}

.btnGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    padding: 5px;
}

.btnGroup button {
    background-color:#72B01D; 
    opacity: 1;
    border: none;
    color: #F3EFF5;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    -webkit-transition-duriation: 0.5s;
    transition-duration: 0.5s;

    flex: 1 1 auto;
    margin: 0 5px 0 5px;
}

.btnGroup button:hover {
    opacity: 0.7;
}

.content {
    padding: 0;
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
    display: flex;
}

#canvas {
    width: 100%;
    height: 100%;
}

#collapse {
    position: absolute;
    top: 0;
    right: 0;
    margin: 16px;
    width:34px;
    height: 30px;
    display: inline-block;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    margin: 6px;
    background-color: #F3EFF5;
    transition: 0.5s;
}

.change .bar1{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .wrapper {flex-direction: row;}
    .menu {
        text-align: left;
        flex: 0 0 260px;
    }
    .slidercontainer {justify-content: flex-start;}
    .inactive {display: block;}
    #collapse {display: none;}
}